<% content_for :title, 'Services' %>

<div class="row border-bottom pb-2">
  <h2>Services</h2>
</div>

<div class="row border-bottom py-4">
  <% Devise.omniauth_providers.each do |provider| %>
    <%= omniauth_button(provider) %>
  <% end %>

  <% Provider.non_oauth_provider_names.each do |provider| %>
    <%= non_omniauth_provider_button(provider, remote: true) %>
  <% end %>

</div>

<services-new-view>
</services-new-view>

<div class="row py-4">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">Provider</th>
        <th scope="col">Name</th>
        <th scope="col">Options</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @services.each do |service| %>
        <tr>
          <th scope="row"><%= omniauth_provider_name(service.provider) %></th>
          <td><%= service.name %></td>
          <td>
            <% if current_user.admin? %>
              <%= form_with model: service, data: { model: 'reactive-form' } do |f| %>
                <div class="custom-control custom-checkbox">
                  <%= f.check_box :global, class: 'custom-control-input', data: { action: 'reactive-form#submit' } %>
                  <%= f.label :global, class: 'custom-control-label' %>
                </div>

                <div class="d-none"><%= f.submit data: { 'disable-with': 'Saving...' } %></div>
              <% end %>
            <% end %>
          </td>
          <td>
            <%=
              link_to 'Delete', service,
                method: :delete,
                class: 'btn btn-sm btn-danger py-0',
                data: { confirm: 'Are you sure?' }
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
