<div class="row">
  <div class="col" data-controller="editable">
    <%= page_header_tag data: { target: 'editable.active' } do %>
      <%= form_with model: scrobble, data: { target: 'editable.form' } do |f| %>
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text"><%= icon_tag "fas fa-#{scrobble.category_icon[:name]}" %></span>
          </div>

          <%= f.text_field :name, class: 'form-control', data: { target: 'editable.input' } %>

          <div class="input-group-append">
            <%= f.button class: 'btn btn-outline-success' do %>
              <%= icon_tag 'fas fa-check' %>
            <% end %>

            <%= button_tag class: 'btn btn-outline-danger', data: { action: 'editable#deactivate' } do %>
              <%= icon_tag 'fas fa-times' %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= page_header_tag data: { target: 'editable.inactive' } do %>
      <%= icon_tag "fas fa-#{scrobble.category_icon[:name]}" %>

      <span class="pl-2" data-target="editable.output" data-action="click->editable#activate">
        <%= scrobble.name %>
      </span>

      <small class="text-muted"><%= scrobble.category %></small>
    <% end %>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <%= render 'descriptor', scrobble: scrobble %>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <%= render 'place_form', scrobble: scrobble %>
  </div>
</div>
