- content_for :title, 'Edit location scrobble'

.row.border-bottom.pb-2
  %h2
    = @location_scrobble.icon_tag(class: 'mr-1')
    = @location_scrobble.name
    %small.text-muted
      - if @location_scrobble.transit?
        #{@location_scrobble.distance}
      %i from
      = @location_scrobble.start_time
      %i to
      = @location_scrobble.end_time

.row.justify-content-sm-center.py-4
  = render 'form'
