<% content_for :title, 'Locations' %>

<%= vuex_store_tag :location_scrobbles_index %>
<%=
  vue_data_tag data: {
    location_scrobbles: json_partial('location_scrobbles', locals: { location_scrobbles: @location_scrobbles })
  }
%>

<location-scrobbles-index-view>
</location-scrobbles-index-view>

<div class="row py-4">
  <%= link_to 'Import', new_location_import_path, class: 'btn btn-primary' %>
</div>

<div class="row pb-4">
  <ul>
    <% @location_scrobbles.each do |location_scrobble| %>
      <li>
        <i class="<%= location_scrobble.icon_class %>"></i>
        <%= location_scrobble.name %>
        <small class="text-muted"><%= location_scrobble.start_time %> - <%= location_scrobble.end_time %></small>
        <%= link_to 'Edit', edit_location_scrobble_path(location_scrobble) %>
      </li>
    <% end %>
  </ul>
</div>
