<% content_for :title, 'Locations' %>

<div class="row">
  <div class="col mb-2">
    <div
      data-controller="mapbox"
      data-mapbox-scrobbles="<%=
        json_partial('location_scrobbles/location_scrobbles', locals: { location_scrobbles: @location_scrobbles })
      %>"
    >
      <div data-target="mapbox.map" style="height: 800px;"></div>
    </div>
  </div>
</div>

<div class="row pb-4">
  <%= link_to 'Import', new_location_import_path, class: 'btn btn-primary' %>
</div>

<div class="row pb-4">
  <ul>
    <% @location_scrobbles.each do |location_scrobble| %>
      <li>
        <i class="<%= location_scrobble.icon_class %>"></i>
        <%= location_scrobble.name %>
        <small class="text-muted"><%= location_scrobble.start_time %> - <%= location_scrobble.end_time %></small>
        <%= link_to 'Edit', edit_location_scrobble_path(location_scrobble) %>
      </li>
    <% end %>
  </ul>
</div>
