- content_for :head do
  = javascript_pack_tag 'scrobbler-form'
  = stylesheet_pack_tag 'scrobbler-form'

#scrobbler-form
  = vue_form_with model: @scrobbler do |f|
    .row
      .col-md-6.pr-5
        = errors_for(@scrobbler)

        - if @scrobbler.new_record?
          .row.form-group
            = f.label :type
            = f.select :type, options_for_select(scrobbler_type_select_options, @scrobbler.type), {}, class: 'form-control', autofocus: true, 'v-on:change': 'typeChanged'

        .scrobbler-options{ 'v-if': 'scrobblerMetadata.ready' }
          .row.form-group
            = f.label :name
            = f.text_field :name, class: 'form-control'

          .row.form-group{ 'v-if': 'scrobblerMetadata.requiresProvider' }
            = f.label :service
            = f.select :service, options_for_select(@scrobbler.valid_services_for(current_user)), { include_blank: true }, class: 'form-control', 'v-html': 'scrobblerMetadata.providerOptions'

          .row
            = f.submit 'Save', class: 'btn btn-primary'

      .col-md-6.pl-5
