<% content_for :title, 'Scrobblers' %>

<%= page_header_tag 'Scrobblers' %>

<div class="row pt-4">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Scrobbles</th>
        <th scope="col">Status</th>
        <th scope="col">Enabled</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <% @scrobblers.each do |scrobbler| %>
        <tr>
          <th scope="row">
            <%= scrobbler.name %><br>
            <span class="text-muted font-weight-normal"><%= humanize_type(scrobbler.type) %></span>
          </th>
          <td><%= time_ago_in_words scrobbler.created_at %></td>
          <td><%= scrobbler.scrobbles_count %></td>
          <td><%= scrobbler_status_badge(scrobbler) %></td>
          <td>
            <%=
              form_with model: scrobbler,
                scope: "scrobbler_#{scrobbler.id}",
                id: "scrobbler_#{scrobbler.id}",
                url: model_url_for(scrobbler),
                data: { controller: 'reactive-form' } do |f|
            %>
              <div class="custom-control custom-switch">
                <%= f.check_box :enabled, class: 'custom-control-input', data: { action: 'reactive-form#submit' } %>
                <%= f.label :enabled, class: 'custom-control-label' %>
              </div>

              <div class="d-none"><%= f.submit data: { 'disable-with': 'Saving...' } %></div>
            <% end %>
          </td>
          <td>
            <div class="dropdown">
              <button
                class="btn btn-outline-secondary btn-sm dropdown-toggle"
                type="button"
                id="dropdown_scrobbler_<%= scrobbler.guid %>"
                data-toggle="dropdown"
              >
                <i class="fas fa-list"></i> Actions
              </button>

              <div class="dropdown-menu dropdown-menu-right py-1">
                <%= link_to edit_scrobbler_path(scrobbler), class: 'dropdown-item' do %>
                  <i class="fas fa-edit"></i> Edit
                <% end %>
                <div class="dropdown-divider my-1"></div>
                <%= link_to scrobbler_path(scrobbler), class: 'dropdown-item', method: :delete do %>
                  <i class="fas fa-trash text-danger"></i> Delete
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="btn-group">
    <%= link_to icon_tag('fas fa-plus') + ' New Scrobbler', new_scrobbler_path, class: 'btn btn-sm btn-outline-dark' %>
  </div>
</div>
