<%= section_header_2_tag 'Match options' %>

<%= form_group_tag do %>
  <% if f.object.persisted? && scrobble.place.blank? %>
    <div class="custom-control custom-checkbox">
      <%= f.check_box :to_delete, class: 'custom-control-input' %>
      <%= f.label :to_delete, 'Clear match rules for this source', class: 'custom-control-label' %>
    </div>
  <% else %>
    <div data-controller="collapse-toggle">
      <%= form_group_tag do %>
        <div class="custom-control custom-checkbox">
          <%=
            f.check_box :enabled,
              class: 'custom-control-input',
              data: { target: 'collapse-toggle.state', action: 'collapse-toggle#toggle' }
          %>
          <%= f.label :enabled, class: 'custom-control-label' do %>
            <% if f.object.new_record? %>
              Match similar location scrobbles from this source to this place
            <% else %>
              Update existing match rules for this source
            <% end %>
          <% end %>
        </div>
      <% end %>

      <%= f.fields_for :source_fields do |source_fields_f| %>
        <div data-target="collapse-toggle.collapsible">
          <%= section_header_3_tag 'Match attributes' %>

          <%= form_group_tag do %>
            <div class="custom-control custom-checkbox">
              <%= source_fields_f.check_box :name, class: 'custom-control-input' %>
              <%= source_fields_f.label :name, class: 'custom-control-label' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
