- content_for :title, 'Location Data Import'

.row.border-bottom.pb-2
  %h2 Location Data Import

.row.justify-content-sm-center.py-4
  .col-md-8
    = form_tag({ controller: 'locations/imports', action: :create }, multipart: true) do
      .form-group.row
        = label_tag 'file', 'File to import', class: 'col-sm-3 col-form-label text-right'
        .col-sm-9
          = file_field_tag 'file', required: true

      .form-group.row
        = label_tag 'importer', 'Importer', class: 'col-sm-3 col-form-label text-right'
        .col-sm-9
          = select_tag 'importer', options_for_select(@importers.map { |importer| [importer.importer_label, importer.name] }), required: true, include_blank: true, class: 'form-control'

      .row.my-4
        .offset-sm-3.col-sm-9
          = submit_tag 'Import', class: 'btn btn-primary'
