<div class="navbar-nav mr-auto">
  <%= nav_link 'Locations', locations_path %>
  <%= nav_link 'Services', services_path %>
  <%= nav_link 'Connect', connections_path %>

  <% if current_user.admin? %>
    <%= nav_link 'Admin', admin_settings_path %>
  <% end %>
</div>

<div class="navbar-nav">
  <%= nav_link 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-link nav-link btn-sm' %>
</div>
