<!DOCTYPE html>

<html>
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) + ' - Quantitare' : 'Quantitare' %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= content_for(:head) %>
  </head>

  <body>
    <%= render 'layouts/nav' %>

    <%= content_tag :div, id: 'app', class: 'container py-5', data: default_vue_data do %>
      <%= render 'layouts/alert' %>

      <%= yield %>
    <% end %>
  </body>
</html>
