!!!5
%html
  %head
    %title= content_for?(:title) ? yield(:title) + ' - Quantitare' : 'Quantitare'
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

    = content_for(:head)

  %body
    = render 'layouts/nav'
    .container.py-5
      = render 'layouts/alert'
      = yield
